<!DOCTYPE html>
<html lang="pt-br">
<head>
 	
    <link rel="stylesheet" href="css/EstiloC.css">
    <link rel="stylesheet" href="css/logadoModal.css">
    <link rel="stylesheet" href="css/styleModalC.css">
    <link rel="stylesheet" href="css/styleC.css">
    <link rel="stylesheet" href="css/styleCadastroU.css">
    <link rel="icon" href="img/icone_senai.png">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/ca14b9e588.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.es.gov.br/fonts/font-awesome/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Senai | Cadastro Usuário</title>

</head>
<body>

<nav>

			<div class="innav">
	
				<div class="nav-instituicoes">
					<ul class="links">
						<li>
							<a href="#">FIESP</a>
						</li>
						<li>
							<a href="#">CIESP</a>
						</li>
						<li>
							<a href="#">SESI</a>
						</li>
						<li>
							<a href="#">SENAI</a>
						</li>
						<li>
							<a href="#">IRS</a>
						</li>
						<li>
							<a href="#">FIESP</a>
						</li>
						<li>
							<a href="#">|</a>
						</li>
	
						<li>
							<a href="https://pt-br.facebook.com/senaicotia/" target="_blank"><i class="fab fa-facebook-f"></i></a>
						</li>
						<li>
							<a href="#">|</a>
						</li>
						<li>
							<a href="https://twitter.com/senaicotia" target="_blank"><i class="fab fa-twitter"></i></a>
						</li>
						<li>
							<a href="#">|</a>
						</li>
						<li>
							<a href="https://twitter.com/senaicotia" target="_blank"><i class="fab fa-youtube"></i></a>
						</li>
						<li>
							<a href="#">|</a>
						</li>
	
						<li>
							<a href="https://twitter.com/senaicotia" target="_blank"><i class="fab fa-linkedin"></i></a>
						</li>
	
						<li>
							<a href="#">|</a>
						</li>
						<li>
							<a href="https://www.instagram.com/senaicotia/" target="_blank"><i class="fab fa-instagram"></i></a>
						</li>
	
						
		
					</ul>
			</div>
			
			
			</div>
			<div class="navbar">
	
				<div class="logo">
					<img src="img//logo.png">
				</div>
				<div class="nav-links">
					<ul class="links">
						<li>
							<a href="Inicio">Inicio</a>
						</li>
					   
						
						<li>
							<a href="ManualPt1">Manual do Auditório</a>
						   
						</li>
						<li>
							<a href="#">Entre em contato</a>
						   
						</li>
	
	<li>
							<a href="cadastroUsuario">Cadastro</a>
						   
						</li>
						<li>
							<a href="loginUsuario">Login</a>
							<i class='bx bxs-chevron-down icon icon-css'></i>
							<ul class="adm-sub-menu sub-menu">
								<li>
									<a href="pagLogin">Administrador</a>
								</li>
							   
							</ul>
						   
						</li>
	
						<li>
							<a href="logout">Sair</a>
						   
						</li>
					</ul>
				</div>
	
			</div>
		</nav>


<div class="container">
<div class="screen">
<div class="screen-content">


<form action="salvarUsuario" method="post" class="login">
            <div class="input-field">
            	<i class="login_icon material-icons">person</i>
                <input class="login_input" type="text" id="nome" name="nome" placeholder="  Nome">
            </div>

            <div class="input-field">
            	<i class="login_icon material-icons">email</i>
                <input class="login_input" type="text" id="email" name="email" placeholder="  Email">
            </div>

            <div class="input-field">
            	<i class="login_icon material-icons">lock</i>
                <input class="login_input" type="password" id="senha" name="senha" placeholder="  Senha">
            </div>

            <div class="input-field">
            	<i class="login_icon material-icons">phone</i>
                <input class="login_input" type="text" id="telefone" name="telefone" placeholder="  Telefone">
            </div>
            <label>Identificação</label>
		<div>
			<i class="far fa-address-book"
			style="font-size: 1.2em; margin-right: 7px; background: -webkit-linear-gradient(-45deg, black, #990000, red); -webkit-background-clip: text; -webkit-text-fill-color: transparent;"></i>

			<select style="border: none; border-bottom: 1px solid black; background: none; padding: 10px; padding-left: 1px; font-weight: 700; width: 35%;transition: .2s;" class="select " name="identificacao">
			<option>Visitante</option>
			<option>Funcionário</option>
			
			</select>
		</div>

             	 <button class="button-login" onclick=openModal()>
             	 	<span class="button-text">Cadastrar</span>
             	 	
             	 	<i class="button_icon material-icons">navigate_next</i>
             	 </button>
           
        </form>
<div>
<img class="imagemzinha" src="img/logo.png" alt="">
</div>

</div>

<div class="screen-background">
<span class="screen-background-shape screen-background-shape4"></span>
<span class="screen-background-shape screen-background-shape3"></span>
<span class="screen-background-shape screen-background-shape2"></span>
<span class="screen-background-shape screen-background-shape1"></span>
</div>

</div>
</div>
  <ul class="squares"></ul>

    <footer id="footer">
        <div id="niveis4" class="nivel4">
        	<div class="content_footer">
	        	<p>Criado por DEBS &copy; 2022 Todos os direitos reservados.</p>
            </div>
        </div>
    </footer>
    
   

    <div class="modal-container">
        <div class="modal">
            <h2>Você está logado!
            </h2>
        </div>
    </div>

    <script src="js/scriptEfeito.js"></script>
    <script src="js/modalLogado.js"></script>
    <script src="js/cabecalho.js"></script>
    
</body>
</html>