* {
    margin: 0;
    padding: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Source Sans Pro', sans-serif;
}

#footer{
    display: inline-block;
	position: relative;
	clear: both;
    width: auto;
    min-width: 100%;
}

#footer .content_footer {
    display: table;
    margin: 0 auto;
    width: 1000px;
}

#footer .nivel2 {
    position: relative;
    border-bottom: 2px solid #FFFFFF;
    border-top: 2px solid #F60609;
    background-color: #8f0404;
}

#footer .nivel2 .coll {
    display: inline-table;
    width: 430px;
    float: left;
    padding-top: 33px;
}

#footer .nivel2 .bloco_enderecos {
    display: table;
    float: right;
    border-left: 1px solid #F60609;
    padding-left: 20px;
}

#footer .nivel2 .enderecos {
    position: relative;
    padding: 20px 25px 20px 0;
    
}

#footer .nivel2 .enderecos p {
    font-size: 14px;
    color: #F60609;
    font-weight: 400;
    
}
#footer .nivel2 .enderecos span {
    margin-bottom: 8px;
}

.rss .titulos-de-chamadas, .enderecos p {
    color: #FFF !important;
}

#footer .nivel2 .enderecos p a {
    color: #FFFFFF;
    font-size: 14px;
    padding: 0 0 0 10px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

#footer .nivel2 .enderecos p a.como-chegar {
    display: none;
}

#footer .nivel3 {
    background: url(../img/bg_footer.png) no-repeat #F22D36;
    background-size: 100% auto;
    border-bottom: 2px solid #FFFFFF;
}

#footer .nivel3 ul li, #footer .nivel3 ul.servicos li.link-sub-menu a, #footer .nivel3 ul.servicos li a, #footer .nivel3 ul.informativos li a, #footer .nivel3 .sobre-fiesp li.fonte-branca a {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-left: 25px;
}

#footer .nivel3 .sobre-fiesp li.fonte-branca {
    margin: 10px 0;
}

#footer .nivel3 ul li a.links-submenu, #footer .nivel3 .sobre-fiesp li a {
    color: #FFFFFF;
    font-size: 12px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    text-transform: none;
}

#footer .nivel3 .sobre-fiesp .sociais-footer {
    border-top: 1px dashed #FFFFFF;
    margin-top: 25px;
    padding-top: 25px;
}



#footer #niveis, #footer #niveis2, #footer #niveis3, #footer #niveis4 {
    padding: 10px 20px 10px 20px;
    display: block;
}

#footer .nivel4 {
    background-color: #B70407;
    text-align: center;
}

#footer .nivel4 p {
    color: #FFFFFF;
    display: inline;
    font-size: 11px;
}

.social{
    text-align: center;
    margin-top: 25px;
}

.social span{
    color: #FFF;
    font-size: x-large;
    margin: 10px;
}
.informacoes{
    text-align: justify;
    flex-basis: 50%;
    color: #fff;
}
